@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

*{
        font-family: "Outfit", sans-serif;
} 

.active{
        @apply pb-0.5 
        border-b-2 
        border-b-[#49557e]
        
}

@keyframes fadeIn{
        0%{
                opacity: 0;
        }
        100%{
                opacity: 1;
        }
}
.animation{
        animation: fadeIn 4s;
}
.animation2{
        animation: fadeIn 2s;
}
.scrollbar-hide::-webkit-scrollbar{
        display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* for Internet Explorer and Edge*/
  scrollbar-width: none;    /* for Firefox */
}
.box-shadow{
        box-shadow: 0px 0px 10px black;
}
.rounded-top-custom {
  border-radius: 15px 15px 0px 0px;
}
